* {
    margin: 0;
    padding: 0;
    border: 0;
}
h1 {
    text-align: center;
}
body {
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}
#add_invoice {
    position: absolute;
    top: 50vh;
    right: 10vw;
}
.ui-grid {
    border: none;
    margin-right: 18px;
}
.grid {
    width: 100%;
    height: 100%px;
}
/*
#medicineCarousel {
}
.carouselItem {
    width: 100%;
    height: 40vh;
}

.carouselItem img {
    width: 100%;
    height: 100% !important;
}
*/