<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Signup</h1>
		<form ng-submit="SignupCtrl.signup()">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="SignupCtrl.signupData.username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="SignupCtrl.signupData.password">
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" class="form-control" ng-model="SignupCtrl.confirm_password">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" ng-model="SignupCtrl.signupData.first_name">
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" ng-model="SignupCtrl.signupData.last_name">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" ng-model="SignupCtrl.signupData.email_address">
			</div>
			<div class="alert alert-danger" ng-if="SignupCtrl.errorMessage">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					{{ SignupCtrl.errorMessage }}
			</div>				
			<button type="submit" class="btn btn-primary">
				<span>Signup</span>
			</button>
		</form>
	</div>
</div>







