<div class="container-fluid">
    <h1>ngPharm
        <small>A solution to manage small to mid scale pharmacy store. It is powered with AngularJS and NodeJS. The database
        can be flexibly changed between sqlite, mariadb, or postgres sql.</small>
        </h1>
    <div>
        <h3>Developers</h3>
        <ul class="row">
            <li class="col-md-6" ng-repeat="developer in AboutCtrl.developers">
            <div class="row">
            	<div class="col-md-offset-3 col-md-6">
            	<h4>{{developer.name}}</h4>
            	<img ng-src="images/developers/{{developer.image}}" class="img-responsive img-circle">
            	<h4>{{developer.intro}} </br> <a ng-href="{{developer.linkedin}}" target="_blank">Linked In</a></h4>
            	</div>
            </div>
            </li>
        </ul>
    </div>
</div>
