<div style="width: 100%; height: 22vh; background-color:#3e3f3a; color:white; text-align:center"> 
    <div class="row" style="margin: 0; width: 100%">
        <div class="col-md-4" style="height: 10vh; color: black">
            <h3>Sign up for our newsletter</h3>
            <form>
                <input type="email" name="email">
                <button class="btn btn-primary btn-xs">Sign up</button>
            </form>
        </div>
        <div class="col-md-4" style="height: 10vh">
            <h4>About us</h4>
            <div class="row" style="margin: 0">
                <div class="col-md-8"><p>Get to know the team</p></div>
                <div class="col-md-4"><a class="btn btn-primary btn-sm" ui-sref="about">Learn more</a></div>
            </div>
        </div>
        <div class="col-md-4" style="height: 10vh">
            <h3>Follow us</h3>
            <div class="row" style="margin: 0">
            <a href="#" class="fa fa-3x fa-google-plus-square"></a>
            <a href="#" class="fa fa-3x fa-github-square"></a>
            <a href="#" class="fa fa-3x fa-linkedin-square"></a>
            <a href="#" class="fa fa-3x fa-facebook-square"></a>                                        
            <a href="#" class="fa fa-3x fa-twitter-square"></a>
            </div>
        </div>
    <div class="row" style="margin: 0; width: 100%">
        <div class="col-md-8">
            <h3>NgPharm: some slogan with logo</h3>
        </div>
        <div>
            &copy Copyright 2015
        </div>
    </div>
</div>
