<h1>Welcome to NgPharm</h1>
<div class="container">
<div>
	<carousel interval="HomeCtrl.carousel.interval" disable-animation="true">
		<slide ng-repeat = "slide in HomeCtrl.carousel.slides" active="slide.active">
			<img ng-src="{{slide.image}}" width="300" height="200">
			<div class="carousel-caption">
				<h4>Number {{$index + 1	}}</h4>
				<p>{{slide.text}}</p>
			</div>
		</slide>
	</carousel>
</div>
</div>
<h1>A modern pharmacy management system</h1>
<button class="btn btn-primary">A button</button>
