<div class="row">
    <div id="invoice_list" class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading clear-fix">
            <h3 class="panel-title">Invoices</h3>
            <div class="pull-right">
                <a href="#" ui-sref=".create" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
          </div>
          <div class="panel-body" style="margin-top: 10px">
              <div class="list-group">
                  <a data-ng-repeat="invoice in InvoicesCtrl.invoices" ui-sref="invoice.item({invoiceId: invoice.id})" class="list-group-item">
                      {{invoice.number}}
                  </a>
              </div>
          </div>
        </div>
    </div>
    <div ui-view class="col-md-9">
    </div>
</div>
