<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Invoice: {{invoice.name}}</h3>
    </div>
    <div class="panel-body">
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="company" class="col-md-2 control-label">Company</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputCompany" name="company" placeholder="Company" ng-model="invoice.Vendor.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="invoiceNumber" class="col-md-2 control-label">Invoice Number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control col-md-10" id="inputInvoiceNumber" placeholder="Invoice number" ng-model="invoice.number" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="items" class="col-md-2 control-label">Items</label>
                    <div class="col-md-10">
                        <div id="invoice_items" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav class="grid" flex></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default btn-lg" ng-click="newItemForm.open()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New item </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="newItem.html">
    <form name="newItem" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Fill in information for new item</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Drug Name:</label>
                <input type="text" name="name" required class="form-control" ng-model="item.name">
                <span style="color:red" ng-show="newItem.name.$dirty && newItem.name.$invalid">
                    <span ng-show="newItem.name.$error.required">Name is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="unit">Unit:</label>
                <input type="text" name="unit" required class="form-control" ng-model="item.unit">
                <span style="color:red" ng-show="newItem.unit.$dirty && newItem.unit.$invalid">
                    <span ng-show="newItem.unit.$error.required">Unit is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="quantity_number">Quantity:</label>
                <input type="number" name="quantity_number" required class="form-control" ng-model="item.quantity">
                <span style="color:red" ng-show="newItem.quantity_number.$dirty && newItem.quantity_number.$invalid">
                    <span ng-show="newItem.quantity_number.$error.required">Quantity is required.</span>
                    <span ng-show="newItem.quantity_number.$error.number">Invalid number.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="expiration_date">Expiration:</label>
                <input type="text" name="expiration_date" required class="form-control" ng-model="item.expiration_date">
                <span style="color:red" ng-show="newItem.expiration_date.$dirty && newItem.expiration_date.$invalid">
                    <span ng-show="newItem.expiration_date.$error.required">Date is required.</span>
                    <span ng-show="newItem.expiration_date.$error.date">Invalid Date.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" name="price" required class="form-control" ng-model="item.price">
                <span style="color:red" ng-show="newItem.price.$dirty && newItem.price.$invalid">
                    <span ng-show="newItem.price.$error.required">Price is required.</span>
                    <span ng-show="newItem.price.$error.number">Invalid number.</span>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="newItem.$invalid" class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
