<form name="newItem" novalidate class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Fill in information for new item</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="drugName" class="col-lg-3">Drug Name:</label>

            <div class="col-lg-9">
                <input type="text" name="drugName" required class="form-control"
                       ng-model="NewInvoiceItemCtrl.invoiceItem.Drug"
                       typeahead="drug as drug.name for drug in NewInvoiceItemCtrl.drugs | limitTo: 8 | filter:{'name':$viewValue}"
                       typeahead-on-select="NewInvoiceItemCtrl.selectDrug($item, $model, $label)"
                       placeholder="Enter name of the medicine"
                       autofocus>

                <div ng-show="newItem.drugName.$dirty">
                    <span style="color:red" ng-show="newItem.drugName.$error.required">Name is required.</span>
                    <span style="color:red" ng-show="newItem.drugName.$invalid"> Name is invalid
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="unit" class="col-lg-3">Unit:</label>

            <div class="col-lg-9">
                <input type="text" name="unit" required class="form-control"
                    ng-model="NewInvoiceItemCtrl.invoiceItem.Unit"
                    typeahead="unit as unit.name for unit in NewInvoiceItemCtrl.units | limitTo: 8 | filter: {'name' : $viewValue}"
                    placeholder="Enter unit">

                <div ng-show="newItem.unit.$dirty">
                    <span style="color:red" ng-show="newItem.unit.$error.required">Unit is required.</span>
            <span style="color:red" ng-show="newItem.unit.$invalid"> Unit is invalid
            </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="sku" class="col-lg-3">SKU:</label>

            <div class="col-lg-9">
                <input type="text" name="sku" min="1" required class="form-control" 
                    ng-model="NewInvoiceItemCtrl.invoiceItem.sku"
                    placeholder="Enter SKU">

                <div ng-show="newItem.sku.$dirty">
                    <span style="color:red"
                          ng-show="newItem.sku.$error.required">Sku is required.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity_number" class="col-lg-3">Quantity:</label>

            <div class="col-lg-9">
                <input type="number" name="quantity_number" min="1" required class="form-control"
                    ng-model="NewInvoiceItemCtrl.invoiceItem.quantity"
                    placeholder="Enter quantity">

                <div ng-show="newItem.quantity_number.$dirty">
                    <span style="color:red"
                          ng-show="newItem.quantity_number.$error.required">Quantity is required.</span>
                    <span style="color:red" ng-show="newItem.quantity_number.$invalid">
                        <span ng-show="newItem.quantity_number.$error.number">Invalid number.</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="manufacture_date" class="col-lg-3">Manufacture Date: (ex: 05/2015)</label>

            <div class="col-lg-9">
                <p class="input-group">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="manufactureDateDropDown" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-group">
                                <input type="text" class="form-control" name="manufacture_date"
                                    data-ng-model="NewInvoiceItemCtrl.invoiceItem.manufactureDate"
                                    placeholder="Enter manufacturing date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="NewInvoiceItemCtrl.invoiceItem.manufactureDate"
                                            data-datetimepicker-config="NewInvoiceItemCtrl.manufactureDatePicker.configs">
                            </datetimepicker>
                        </ul>
                    </div>
                </p>
                <div ng-show="newItem.manufacture_date.$dirty">
                    <span style="color:red" ng-show="newItem.manufacture_date.$error.required">Date is required.</span>
                    <span style="color:red" ng-show="newItem.manufacture_date.$invalid">
                        <span ng-show="newItem.manufacture_date.$error.date">Invalid Date.</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="expiration_date" class="col-lg-3">Expiration Date: (ex: 05/2018)</label>

            <div class="col-lg-9">
                <p class="input-group">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="expirationDateDropDown" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-group">
                                <input type="text" class="form-control" name="expiration_date"
                                    data-ng-model="NewInvoiceItemCtrl.invoiceItem.expirationDate"
                                    placeholder="Enter expiration date"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="NewInvoiceItemCtrl.invoiceItem.expirationDate"
                                            data-datetimepicker-config="NewInvoiceItemCtrl.expirationDatePicker.configs"
                                            data-on-set-time="NewInvoiceItemCtrl.expirationDatePicker.onTimeSet(newDate, oldDate)">
                            </datetimepicker>
                        </ul>
                    </div>
                </p>
                <div ng-show="newItem.expiration_date.$dirty">
                    <span style="color:red" ng-show="newItem.expiration_date.$error.required">Date is required.</span>
                    <span style="color:red" ng-show="NewInvoiceItemCtrl.expirationDate.$invalid">
                        <span ng-show="newItem.expiration_date.$error.date">Invalid Date.</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-lg-3">Price:</label>

            <div class="col-lg-9">
                <input type="number" name="price" required class="form-control"
                    ng-model="NewInvoiceItemCtrl.invoiceItem.price"
                    placeholder="Enter price">

                <div ng-show="newItem.price.$dirty">
                    <span style="color:red" ng-show="newItem.price.$error.required">Price is required.</span>
                    <span style="color:red" ng-show="newItem.price.$invalid">
                        <span ng-show="newItem.price.$error.number">Invalid number.</span>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button ng-disabled="newItem.$invalid" class="btn btn-primary" ng-click="NewInvoiceItemCtrl.ok()">OK</button>
        <button class="btn btn-warning" ng-click="NewInvoiceItemCtrl.cancel()">Cancel</button>
    </div>
</form>
